.calculator__formFieldset {
    width: 700px;
    max-width: 100%;
    margin: 50px auto;
    padding: 20px 0;
}

.calculator__formLegend {
    font-size: 24px;
    padding: 0 10px;
    text-transform: uppercase;
}