html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: rgb(221, 221, 221);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
}